[submodule "docs/web/themes/hugo-theme-learn"]
	path = docs/web/themes/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn.git
[submodule "docs/web/themes/hugo-material-docs"]
	path = docs/web/themes/hugo-material-docs
	url = https://github.com/digitalcraftsman/hugo-material-docs.git
